.DS_Store
.vscode
__pycache__
src/ClassifierMetric/__pycache__
data/*
experiments/__pycache__
experiments/check_datasets.ipynb
src/ClassifierMetric/datamodule/jetnet.py
results/*
ClassifierMetric.egg-info

